@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Oswald&family=Raleway&family=Roboto&display=swap');

body{
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
-webkit-tap-highlight-color: transparent;

}

html,body{
  overflow-x: hidden;

}
.purpole{
  background-color: #856088;
}
.carousel-images{
width: 70%;
height: 400px;
position: absolute;
left: 50%;
top: 40%;
background-size: cover;
background-image: url(./Images/goo12.jpg);
transform: translate(-50%,-50%);
animation: carousel 30s infinite  linear ; 
/*animation: name duration timing-function delay iteration-count direction fill-mode;*/
}
.headC{
 
  position: relative;
  
 width: 100%;
 height: 600px;

}
@keyframes carousel{
0%{background-image: url(./Images/goo12.jpg);}
25%{background-image: url(./Images/good13.jpg);}
50%{background-image: url(./Images/good19.jpg);}
75%{background-image: url(./Images/good20.jpg);}

}
/*it is Menu.js*/
.header{
 
  position: relative;
  display: flex;
  width:100%;
  background-color: #856088;
}
.logo{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.2rem;
  font-size: 1rem;
  padding: 0% 2%;
  margin-left: 2%;
  color: #fff;
}
.navbar{
  flex:1;
  margin-top: 25px;
 text-align: right;

}
.navbar a{
 
  color: #fff;
  text-decoration: none;
  justify-content: space-around;
  padding: 1% 2%;


}
.navbar a:hover{
  background-color: #F26B8A;
 
}
.navbar a:active{
  border: 1px solid #fff ;
}
.icons{
  display: none;
}
@media (max-width:700px) {
 
 .logo{
  font-family: 'Raleway', sans-serif;
  padding: 0% 1%;
  margin-left: 2%;
  color:#fff;
  font-size: 12px;
  margin-right: 10%;
 }
 .navbar a{
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-left: 10px;
 }
 .navbar a:hover{
  background-color:#856088;
 }
 .navbar{
  position: absolute;
  background: #F26B8A;
  height: 100vh;
  margin-top: 0%;
  width:200px;
  right:-200px;
  text-align: left;
  z-index: 3;
  transition: 1s;
 }
 
.icons{
    display: block;
          color: #fff;
          margin-top: 10px;
          font-size: 22px;
          cursor: pointer;
          position:absolute;
          right: 3%;
         
  }
  /* caoursel */
  .carousel-images{
    width: 85%;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 35%;
    background-size: cover;
    background-image: url(./Images/goo12.jpg);
    transform: translate(-50%,-50%);
    animation: carousel 12s infinite  linear ; 
    /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
    }
  }
/*-this is About.js-*/
.main{
  margin-top: 20px;
  justify-content: center;
}
.main h1{
  text-align: center;

}
.main h1::after{
  content: " "; 
 width: 0%;
  height:2px;
  background:#856088;
  width: 15%; 
  display:block; 
  margin: auto; 
}
.row{
display: grid;
width: 100%;
grid-template-rows: 80%;
grid-template-columns: 30% 30%;
justify-content: center;
}

.img{
  
 /* margin-top: 50px;

  padding: 20px;
  top:0 */
 width: 50%;
 height: 200px;
  background-image: url(./Images/useravatar.jpg); 
  background-size: cover;
  border-radius: 90%; 
  padding-left:0;
}
.intro {
  padding-right:0;
  color: #333; 
  text-align: justify;
}
@media(max-width:900px){
   .row{
display: block;

  }
  .main h1{
    
  
   align-items: center;
   margin-right: 35px;
  }
  .main h1::after{
    content: " "; 
    height:2px;
    background:#856088;
    width: 50%; 
    display:block; 
    margin: auto; 
  }
  .img{
   
    width: 40px;
    height: 100px;
    padding: 0% 20% 20% 20%;
    margin: 0% 20% 0% 20%;
    
  }
  .intro p{
    width: 70%;
    margin: 10% 20% 0% 10%;
    
  } 
  
}

/* .about-details{
display: flex;
}
.col{
overflow: hidden;
  width: 100%;
  height: 400px;
 margin-right: 20px;
 margin-left: 10px;
 position: relative;
}
.col img{
  border: 2px solid #856088;
  border-radius: 10px;
}
.col:hover{
  box-shadow: 0  0 20px 2px rgba(0, 0, 0, 0.2);
}
.layor{
  cursor: pointer;
  background:transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 40%;
  left: 25%;
  color: #856088;
 
}
.layor2{
  cursor: pointer;
  background:transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 30%;
  color: #856088;
 
} */
 .main-details{

  grid-auto-rows: 200px;
   margin-top: 40px;
display: grid;
grid-template-rows: 200px ;
/* these thress lines are centring the grid */
justify-content: center;
width: 80%;
margin: auto;
grid-template-columns: repeat(auto-fill, minmax(200px,200px)); 
/* grid-template-columns: minmax(200px, 1fr);
grid-template-columns: fit-content(80%); */
/* grid-template-columns: 200px 200px 200px 200px;
 grid-auto-flow: column;
grid-template-columns: repeat(auto-fill, minmax(min-content, 200px)); */
height: 100%;
padding: 10px;
grid-gap: 30px;
}
.edu{

 border-bottom:4px solid #856088;
border-left: 3px solid #F26B8A;
  background-image: url(./Images/planeSurface.jpg);
}
.hobies{
  border-bottom:4px solid #856088;
  border-left: 3px solid #F26B8A;
  background-image: url(./Images/planeSurface.jpg);
}
.Strengths{
  border-bottom:4px solid #856088;
  border-left: 3px solid #F26B8A;
  background-image: url(./Images/planeSurface.jpg);
}
.weekness{
  border-bottom:4px solid #856088;
  border-left: 3px solid #F26B8A;
  background-image: url(./Images/planeSurface.jpg);
} 
.grids p{
margin-top: 40%;
margin-left: 30%;
font-size: 1.2rem;
color: #856088;
}
.grids:hover{
  cursor: pointer;
  box-shadow: 0  0 20px 2px rgba(0, 0, 0, 0.2);
  /* border-bottom:4px solid #856088;
  border-right: 3px solid #F26B8A; */
  /* border-left: none;
  border-top: none; */
}
.layor2{
  display: block;
 
}
.aboutdetailsListClass{
  display: none;
  color: #856088;
} 
/* __________footer_____________________ */
.footer-main{

      padding: 1rem;
      background-color: rgb(63, 60, 50);
      position: relative; 
      bottom: 0; 
      left: 0; 
      height: 50px;
      width: 100%;
     }
.brandIcons{
display: flex;
justify-content: center;
     }
.brand_icons{
  margin-left: 20px;
  display: block;
  font-size: 23px;
  cursor: pointer;
  padding: 20px;
}
.fb{ color:royalblue;}
.yt{ color:red;}
.likn{color:white;}
.github{color:white;}

.brand_icons:hover{
  box-shadow: 0  0 20px 2px rgba(0, 0, 0, 0.2);
}
@media(max-width:700px){
  .brand_icons{
    display: block;
    font-size: 20px;
    cursor: pointer;
    padding: 15px;
  }
 
}
/* skills---------------------- */
.mail-s{
display: none;
}
.mail-L{
  display: block;
  }
.main-techs{
display: grid;
grid-template-rows: 200px 200px 200px;
grid-template-columns:300px 50px 200px ;
justify-content: center;
grid-row-gap: 10px;
}
.one{
  background-color: rgb(36, 148, 129);
  border-radius: 90%;
  width: 50%;
  height: 60%;
  justify-self: center;
  align-self: center;
  
}
.two{
  background-color: brown;
}
.three{
  background-color: cadetblue;
}
.four{
  background-color: rgb(151, 228, 88);
  border-radius: 90%;
  width: 50%;
  height: 60%;
  justify-self: center;
  align-self: center;
}
.five{
  background-color: yellow;
}
.six{
  background-color: purple;
}
.seven{
  background-color: rgb(236, 80, 53);
  border-radius: 90%;
  width: 50%;
  height: 60%;
  justify-self: center;
  align-self: center;
}
.eight{
  background-color: pink;
}
.nine{
  background-color: red;
}
.verticalLine {
margin-left: 15px;
  border-left: 2px solid #c2bfbf;
  
}
.tech p{
  color: #fff;
 text-align: center;
margin-top: 40px;
font-size: 1.2rem;
}
.skills h3{
  color: #F26B8A;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
}
.skills hr{
  width: 40%;
 text-align: center;
 border: 0; border-top: 2px solid #c2bfbf;
}
.main-techs-parent{
  background-color:rgb(247, 248, 249);
}
.tech-details p{
 width: 100%;
 text-align: justify;
}
.format-skills{
font-style: italic;
font-weight: bold;
}
@media(max-width:700px){
  .mail-L{
    display: none;
    }
    .mail-s{
      display: block;
      }
  .skills h3{
    color: #F26B8A;
    text-align: center;
    font-size: 1.2rem;
  }
  .main-techs{
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns:150px 20px 200px ;
    justify-content: center;
    grid-row-gap: 10px;
    }
    .tech-details p{
      width: 80%;
      text-align: justify;
     }
 .smallscr{
  width: 80%;
  height: 60%;
 }
}
/*skills_projects*/
.projects-detail{
 
display: grid;
grid-template-rows: 200px 200px 200px 200px 200px 200px 200px;
grid-template-columns:600px;
grid-gap: 20px;
justify-content: center;

}
.project-image{
  position: relative;
background-color: #856088;
opacity: 1px;
}
.project-image h3{
  font-size: 22px;
  width: 90%;
  color:white;
  
  position:absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center; 
  text-transform: uppercase;
}
.project-details{
  padding: 10px;
  background-color: #F26B8A;
 
}
.project-image img{
justify-self: center;
width: 100%;
height: 100%;
}
.main-grid2{

      display: grid;
       grid-template-rows: 200px;
       grid-template-columns:  200px 400px;
      grid-gap: 20px;
      padding: 10px;
      justify-content: center;
}
.a{
  color:white;
}
.a:hover{
  color:#856088
}
.a:active{
  color: grey;
}
.project-details p{
  text-align: justify;
  color: #856088;
}
@media(max-width:700px){
  .projects-detail{
    display: grid;
    grid-template-rows: 500px 500px 500px 500px 500px 500px 500px;
    grid-template-columns:400px;
    grid-gap: 20px;
    justify-content: center;
  
    
    }
    .main-grid{
      border: 2px solid #856088;
      display: grid;
       grid-template-rows: 200px ,400px;
       grid-template-columns:300px ;
      grid-gap: 20px;
      justify-self: center;
      padding: 10px;
      margin: 10px;

    }
    

 }
 /* contact*/
 .contact_header{
  min-height: 60vh;
  width: 100%; 
  background: linear-gradient(rgba(4, 8, 30, 0.7),rgb(4,9,30,0.7)),url(Images/contat_px.jpg);
  background-position:center ;
background-size: cover;

  position:relative;

}
.text-box{
  font-size: 62px;
  width: 90%;
  color:#fff;
  position:absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);/* transform translate actually reposition the element in horizontal or vertical position. both cordinates defines to move how much in which direction*/
  text-align: center; /* transform aik element ko parent man k us k ander positioning krta h*/
}
.contact-main{
  display: grid;
  grid-template-rows: 250px;
  grid-template-columns: 400px 400px;
  grid-column-gap: 30px;
  justify-content: center;
 margin-top: -30px;
 z-index: 2;
 position: relative;
}
.one_con{
  box-shadow: 0  0 20px 0px rgba(0,0,0,0.2);
  background-color: white;
 text-align: center;

}
.two_con{
  box-shadow: 0  0 20px 0px rgba(0,0,0,0.2);
  background-color: white;
  text-align: center;
 
}

.help{
  font-size: 30px;
 color: #F26B8A;
margin-top: 10px;
color: #856088;
}
@media(max-width:700px){
  .contact_header{
    min-height: 40vh;
    width: 100%; 
    background: linear-gradient(rgba(4, 8, 30, 0.7),rgb(4,9,30,0.7)),url(Images/contat.jpg);
    background-position:center ;
  background-size: cover;
  
    position:relative;
  
  }
  .text-box{
    font-size: 42px;
    width: 90%;
    color:#fff;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center; 
  }
  .contact-main{
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: 170px 170px;
    grid-column-gap: 10px;
    justify-content: center;
   margin-top: -30px;
   z-index: 2;
   position: relative;
  }
}
.Header-home{
  min-height: 100vh;
  width: 100%; 
  background: linear-gradient(rgba(4,9,30, 0.8),rgb(4,9,30,0.8)),url(Images/myphoto.jpeg);
  background-position:center ;
background-size: cover;
position:relative;
}
.Header-home p{
  color:#fff;
    position:absolute;
    top:75%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center; 
}
.homegrid{
  display: grid;
  grid-template-columns: 600px 300px ;
  grid-template-rows: 400px;
 column-gap: 50px;
 align-self: center;
 width: 100%;
}
.Cv-grid {
  background-color:rgb(247, 248, 249);
  min-height: 100vh;
  width: 100%; 
justify-content: center;
align-content: center;

}
.img-cv{
 
  background: url(Images/resume.jpg);
  background-size: cover;
  
}
.img-result{
  
  background: url(Images/degree.jpg);
  background-size: cover;
}
.result-grid{
  background-color:rgb(247, 248, 249);
  min-height: 80vh;
  width: 100%; 
  justify-content: center;
align-content: center;
}
.des{
  background-color: white;
  box-shadow: 0  0 20px 2px rgba(0, 0, 0, 0.2);
text-align: center;


}
.hero-btn{
display: block;
  text-decoration: none;
  color:#856088;
  border: 1px solid #856088;
  padding: 15px 0px 15px 0px;
  font-size: 13px;
  background:transparent;
  position: relative;
  align-items: center;
  cursor: pointer;
 
  }
  .hero-btn:hover{
      border: 1px solid #F26B8A;
      background:#F26B8A;
      transition: 1s;
  }
  .img-cv a{
    display: none;
  }
  .img-result a{
    display: none;
  }
  @media(max-width:700px){
    .text-box{
      font-size: 35px;
    }
    .Header-home{
      min-height: 60vh;
      width: 100%; 
      background: linear-gradient(rgba(4,9,30, 0.8),rgb(4,9,30,0.8)),url(Images/myAvatar_pxl.jpg);
      background-position:center ;
      background-size: cover;
     position:relative;
    }
    .Header-home p{
      color:#fff;
        position:absolute;
        top:75%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center; 
    }
    .homegrid{
      display: grid;
      grid-template-columns: 400px  ;
      grid-template-rows: 400px;
     align-self: center;
     width: 100%;
    }
    .Cv-grid {
      background-color:rgb(247, 248, 249);
      min-height: 100vh;
      width: 100%; 
    justify-content: center;
    align-content: center;
    
    }
    .img-cv{
     
      background: url(Images/resume_px.jpg);
      background-size: cover;
      text-align: center;
   
    }
    .img-result{
      background: url(Images/result_px.jpg);
      background-size: cover;
    }
    .result-grid{
      background-color:rgb(247, 248, 249);
      min-height: 80vh;
      width: 100%; 
      justify-content: center;
    align-content: center;
    }
    .des{
      display: none;
    }
    .img-cv a{
      display: block;
    }
    .img-result a{
      display: block;
    }
    .hero-btn{
      width: 40%;
    display: block;
   align-items: center;
      text-decoration: none;
      color:white;
      border: 2px solid white;
      padding: 15px;
      font-size: 17px;
      background:transparent;
      cursor: pointer;
    
     
     
      }
      .hero-btn:active{
          border: 1px solid #F26B8A;
          background:#F26B8A;
          transition: 1s;
      }
  }